<section *ngIf="noResults">
    <p class="error-message">Sorry, there were no results for that search.</p>
</section>
<section>
  <p>Use this wiki to search and learn more about characters from star wars.</p>
  <!-- <button (click)="getAll()">Reset</button> -->
</section>
<section>
    <div *ngFor="let person of people" class="info-container">
        <div class="person-info"> 
          <p><b>Name:</b> {{person.name}}</p>
          <p><b>Height:</b> {{person.height}}</p>
          <p><b>Mass:</b> {{person.mass}}</p>
          <p><b>Skin Color:</b> {{person.skin_color}}</p>
          <p><b>Hair Color:</b> {{person.hair_color}}</p>
          <a href={{person.a}} class="button">More</a>
        </div>
    </div>
</section>
<section class="paginator">
  <div class="prev">
    <button *ngIf="previous" (click)="getPreviousPage()">Previous</button>
  </div>
  <div class="next">
    <button *ngIf="next" (click)="getNextPage()">Next</button>
  </div>
</section>
