h1 {
  font-family: 'Jockey One', sans-serif;
  font-size: 100px;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}
h1, h2 {
  text-shadow: 3px 3px rgba(34, 34, 34, .75);
}
p {
  font-size: 1.5em;
}
.title-wrapper {
  background-image: url(http://res.cloudinary.com/dia36odnd/image/upload/v1485402169/space_ccpaml.jpg);
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5em;
}

@media screen and (max-width:750px){
  h1 {
    font-size: 50px;
  }
  h2 {
    letter-spacing: 5px;
  }
  .title-wrapper{
    padding: 2em 2em 5em 2em;
  }
}
