input {
  height: 50%;
  width: 50%;
  border: 1px solid #eee;
  border-radius: 0;
  font-size: 1.5em;
  padding: .5em;
}
button {
  margin: 0 1em;
}
@media screen and (max-width: 800px){
  input {
    font-size: 1em;
    width: 90%;
  }
  button {
    margin: 1em .5em;
    width: 100px;
  }
}

